.img-layout {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-body {
  width: 100%;
  height: 100%;
}

.img-icon {
  position: absolute;
  visibility: hidden;
}

.img-layout:hover > .img-icon {
  visibility: visible;
  color: #fff;
}

.img-layout:hover > .backdrop {
  position: absolute;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  background-color: black;
  opacity: 0.2;
}

.img-text > div > p {
  font-weight: 900;
  font-size: 1.3rem;
}

/* ##### Page */
.profile-container {
  padding: 10px;
}

.profile-img-box {
  width: 100%;
  height: 100%;
}

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.profile-number {
  font-weight: 600;
  font-size: 1.20rem;
  margin-right: 5px;
}

.profile-btn > button {
  background-color:  #e8e5e5;
}

.profile-btn:hover > button {
  background-color: #DBDBDB;
}

.profile-setting-btn:hover > button {
  background-color: #fff;
}

/* ####### Tabs */
.tabs > div > div > .Mui-selected {
  color: #000;
}

.tabs > div > div > .Mui-selected > svg {
  color: #000;
  margin-right: 5px;
  font-size: 0.8rem;
  width: 12px;
  height: 12px;
}


.tabs > div > div > button > svg {
  margin-right: 5px;
  width: 12px;
  height: 12px;
}

.tabs > div > div > button > .MuiTab-iconWrapper {
  margin-right: 5px;
}

.tabs > div > div > button {
  font-size: 0.8rem;
  color: gray;
  min-height: 50px;
}

.tabs > div > span {
  top: 0;
  background-color: black;
}


