/* ###### */
.padding-layout {
  display: flex;
  justify-content: center;
  position: relative;
}

.body {
  max-width: 1000px;
  height: 100vh;
}

@media (max-width: 900px) {
  .body {width: 90%;}
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
